$border-xs: 4rem;
$border-md: 6rem;
$border-lg: 8rem;

#hero {
  height: calc(100vh - 2 * #{$border-xs});
  width: calc(100vw - 2 * #{$border-xs});
  box-sizing: border-box;
  margin: $border-xs;
  position: relative;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  @include md-up {
    font-size: initial;
    letter-spacing: initial;
    height: calc(100vh - 2 * #{$border-md});
    width: calc(100vw - 2 * #{$border-md});
    margin: $border-md;
  }
  @include lg-up {
    height: calc(100vh - 2 * #{$border-lg});
    width: calc(100vw - 2 * #{$border-lg});
    margin: $border-lg;
  }
}

#video-overlay {
  background-color: rgba(0, 0, 0, 0.17);
  mix-blend-mode: multiply;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

#hero-video {
  filter: contrast(105%) saturate(105%);
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

video::-webkit-media-controls-enclosure {
  opacity: 0 !important;
  display: none !important;
}

video::-webkit-media-controls {
  opacity: 0 !important;
  display: none !important;
}

video::-webkit-media-controls-panel {
  opacity: 0 !important;
  display: none !important;
  -webkit-appearance: none !important;
}

video::-webkit-media-controls-play-button {
  opacity: 0 !important;
  display: none !important;
  -webkit-appearance: none !important;
}

video::-webkit-media-controls-start-playback-button {
  opacity: 0 !important;
  display: none !important;
  -webkit-appearance: none !important;
}

.custom-video-controls {
  z-index: 2147483647;
}

#bg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

$border-content-offset-md: 4.1rem;
$border-content-offset-lg: 5.3rem;

.border-content {
  height: 1.5rem;
  position: absolute;
  display: flex;
  align-items: center;
  letter-spacing: 0.18rem;
  white-space: nowrap;
  @include md-up {
    height: 2.5rem;
  }
  @include lg-up {
    height: 3rem;
  }
  &.top-left {
    top: 7rem;
    left: -1rem;
    transform-origin: 0 100%;
    transform: rotate(-90deg);
    @include md-up {
      left: 0;
      top: -$border-content-offset-md;
      transform-origin: initial;
      transform: initial;
    }
    @include lg-up {
      left: 0;
      top: -$border-content-offset-lg;
      transform-origin: initial;
      transform: initial;
    }
  }
  &.top-right {
    right: -2rem;
    top: 18rem;
    transform-origin: center right;
    transform: rotate(90deg);
    @include md-up {
      right: 0;
      top: -$border-content-offset-md;
      transform-origin: initial;
      transform: initial;
    }
    @include lg-up {
      right: 0;
      top: -$border-content-offset-lg;
      transform-origin: initial;
      transform: initial;
    }
  }
  &.bottom-left {
    bottom: 1rem;
    left: -1.2rem;
    transform-origin: 0 100%;
    transform: rotate(-90deg);
    flex-direction: row-reverse;
    @include md-up {
      flex-direction: row;
      left: 0;
      right: initial;
      bottom: -$border-content-offset-md;
      transform-origin: initial;
      transform: initial;
    }
    @include lg-up {
      left: 0;
      right: initial;
      bottom: -$border-content-offset-lg;
      transform-origin: initial;
      transform: initial;
    }
  }
  &.bottom-right {
    right: -2rem;
    bottom: 0;
    transform-origin: center right;
    transform: rotate(90deg);
    @include md-up {
      left: initial;
      right: 0;
      bottom: -$border-content-offset-md;
      transform-origin: initial;
      transform: initial;
    }
    @include lg-up {
      left: initial;
      right: 0;
      bottom: -$border-content-offset-lg;
      transform-origin: initial;
      transform: initial;
    }
  }
  img,
  a {
    height: 100%;
  }
  a {
    transition: filter 0.5s, opacity 0.4s;
    @include hover {
      filter: blur(0.2rem);
      opacity: 0.7;
    }
  }
}

#sgf-logo-container {
  position: relative;
  height: 115%;
  img {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  #sgf-logo-blur {
    opacity: 0;
  }
  #sgf-logo-blur {
    transition: opacity 0.4s;
  }
  @include hover {
    filter: initial;
    opacity: initial;
    #sgf-logo-blur {
      opacity: 1;
    }
  }
}

#asce-logo {
  margin-left: 4rem;
  position: relative;
  @include md-up {
    margin-right: 4rem;
    margin-left: initial;
  }
  @include hover {
    filter: initial;
    opacity: initial;
  }
  img {
    transition: filter 0.5s, opacity 0.4s;
    @include hover {
      filter: blur(0.2rem);
      opacity: 0.7;
    }
  }

  &::after {
    content: "";
    pointer-events: none;

    position: absolute;
    left: -2.2rem;
    height: 60%;
    width: 0.1rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: $gray;
    @include md-up {
      right: -2.4rem;
      left: initial;
    }
  }
}

#countdown-container {
  user-select: none;
  text-align: center;
  margin: auto;
  color: $red;
  mix-blend-mode: screen;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DejaVu Sans Mono", monospace;
  line-height: 0;
  letter-spacing: -0.05rem;
  font-size: 5vh;
  @include md-up {
    font-size: 4.5vw;
  }
}

#countdown-wrapper {
  //text-shadow: 0rem 0rem 20rem rgb(38, 37, 43);
  margin-top: 4vw;
}

#countdown {
  margin-top: -14.5vh;
  height: 100%;
  @include md-up {
    margin-top: 0;
    margin-bottom: 7vw;
  }
}

#date {
  letter-spacing: 0.2rem;
}

#details {
  letter-spacing: 0.35vh;
  font-size: 2.2vh;
  margin-top: -3vh;
  line-height: 155%;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: -3vh;
    left: 50%;
    transform: translateX(-50%);
    width: 5.5vh;
    border: 0.05rem solid $red;
    @include md-up {
      display: none;
    }
  }
  @include md-up {
    letter-spacing: 0.3vw;
    font-size: 2.1vw;
    margin-top: 2vw;
    br {
      display: none;
    }
  }
  @include lg-up {
    letter-spacing: 0.32vw;
  }
}

.cd-unit {
  display: block;
  position: relative;
  margin: 15vh 0;
  @include md-up {
    margin: 0;
    display: inline-block;
  }
  &:not(:last-child)::after {
    content: "//";
    position: absolute;
    bottom: -9vh;
    left: 50%;
    transform: translateX(-50%) scale(0.5);
    @include md-up {
      display: block;
      content: " //";
      width: initial;
      position: initial;
      bottom: initial;
      left: initial;
      display: inline-block;
      margin: 0 -2rem 0 -1rem;
      transform: scale(0.6);
      letter-spacing: 1.5rem;
    }
  }
}

.cd-number {
  text-align: center;
  position: relative;
  text-align: center;
  &::before {
    display: block;
    margin: 0;
    padding: 0;
    content: "//";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1.4vh;
    font-size: 1.5vh;
    @include md-up {
      bottom: -2vw;
      font-size: 1.2vw;
    }
  }
}

#cd-days {
  &::after {
    content: "Days";
  }
}

#cd-hours {
  &::after {
    content: "Hours";
  }
}

#cd-mins {
  &::after {
    content: "Mins";
  }
}

#cd-secs {
  &::after {
    content: "Secs";
  }
}

#socials {
  transform: rotate(180deg);
  @include md-up {
    transform: initial;
  }
  li {
    text-align: center;
    width: 2rem;
    display: inline-block;
    transform: rotate(-90deg);
    &:not(:first-child) {
      margin-left: 1.3rem;
    }
    @include md-up {
      transform: initial;
    }
  }
  img {
    height: 1.2rem;
    @include md-up {
      height: 1.5rem;
    }
  }
}
