// Media breakpoints
$xs-screen: 480px;
$sm-screen: 600px;

$md-screen: 750px;

$md-screen: 1025px;

//$lg-screen: 960px;
$lg-screen: 1600px;

$xl-screen: 1280px;
$xxl-screen: 2400px;

//$red: #ffc9b6;
//$red: #ffac92;

$red: #ff835e;
$gray: #58595b;
