html {
  font-size: 62.5%;
  @include xxl-up {
    font-size: 0.42vw;
  }
}

.btn {
  color: $red;
  border: 0.1rem solid $red;
  text-decoration: none;
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 1rem;
  white-space: nowrap;
  line-height: 0;
  padding: 1.2rem 1rem 1.1rem;
  display: inline-block;
  margin-left: 1rem;
  mix-blend-mode: lighten;
  @include md-up {
    font-size: 1.4rem;
    margin-left: 1.3rem;
    padding: 1.8rem 2rem 1.7rem;
  }
}
